body {
  font-family: 'Merriweather', serif;
  background: #ffffff;
  margin: 0;
  padding: 0;
}

.header, .dashboard-section, .warning-section, .contact-section {
  font-family: 'Merriweather', serif;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  background-image: url('../assets/images/header_background.png');
  background-size: fit; /* 使背景图片覆盖整个header */
  background-position: center; /* 使背景图片居中 */
  height: 100px;
  background-color: #6D8C54;
  padding: 10px 15px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header .logo {
  height: 40px;
  margin-right: 10px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.main-content {
  display: flex;
  flex: 1;
  margin-left: 40px; /* Adjust the margin to match the width of the sidebar */
  margin-top: 40px; /* Adjust the margin to match the height of the header */
}

.sidebar {
  position: fixed;
  top: 100px;
  left: 0;
  height: calc(100vh - 80px); /* Adjust the header's height accordingly */
  width: 60px;
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.icon {
  font-size: 2em; /* Increase icon size to 3 times */
  color: #6D8C54; /* Change icon color */
}

.icon-white {
  font-size: 2em; 
  color: white; /* Change icon color */
}

.icon-margin {
  margin-right: 20px;
}

.dashboard-content {
  flex: auto;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
}

.dashboard-section {
  margin-top: 20px;
  margin-right: 20px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  background-color: #F1F1F1;
  height: 70vh;
}

.dashboard-section-picture {
  margin-top: 0px;
  margin-right: 20px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  background-color: #F1F1F1;
  height: auto;
}

.dashboard-svh {
  height: 100%;
}

.chart-section {
  flex: 3;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
  width: 70vw;
}

.device-list {
  flex: 1;
  width: auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.device-item {
  transition: background-color 0.3s;
  width: auto;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F7C35F;
}

.device-item:hover {
  background-color: #FFD700;
}

.warning-section {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.warning-item {
  transition: background-color 0.3s;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #F1F1F1; /* Default background color */
}

.warning-item:hover {
  background-color: #F7C35F; /* Hover background color */
}

.warning-item .alert-circle {
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  margin-right: 10px;
}

.alert-checkbox {
  margin-left: auto;
}

.contact-section {
  background-image: url('../assets/images/contact_us_bg.png');
  background-size: fit; /* 使背景图片覆盖整个header */
  background-position: center; /* 使背景图片居中 */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 20px 0;
}

.contact-section h2 {
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 15px;
}

.btn-primary {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #45a049;
}

.chatbot {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #4caf50;
  color: white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s;
}

.chatbot:hover {
  background-color: #45a049;
}

.chatbot-window {
  position: fixed;
  bottom: 90px;
  right: 20px;
  width: 300px;
  height: 400px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: none;
  flex-direction: column;
  overflow: hidden;
}

.chatbot-header {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

.chatbot-messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.chatbot-input {
  display: flex;
  border-top: 1px solid #ddd;
}

.chatbot-input input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
}

.chatbot-input button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.chatbot-input button:hover {
  background-color: #2e8032;
}

.controls {
  width: 200px;
  background-color: #6D8C54;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.controls h3 {
  color: white;
}

.controls input {
  width: 100%;
  margin-bottom: 15px;
}

.controls button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #F7C35F;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.controls button:hover {
  background-color: #E0AC50;
}

.controls .biggerbutton {
  display: block;
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #F7C35F;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.controls .biggerbutton:hover {
  background-color: #E0AC50;
}

.date-selector {
  display: flex;
  align-items: center;
}

.date-selector button {
  background-color: #6D8C54;
  border: none;
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.date-selector button:hover {
  background-color: #E0AC50;
}

.date-picker {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  width: 150px;
  text-align: center;
}

.pictures {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.picture {
  display: flex;
  align-items: center;
  background-color: #e0e0e0;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.picture img.testimage {
  width: 450px;
  height: auto;
  border-radius: 10px;
  margin-right: 20px;
}

.picture-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.picture-time {
  font-size: 14px;
  color: #6D8C54;
}

.peaewevil-num {
  display: flex;
  align-items: center;
  gap: 10px;
}

.peaewevil-num button {
  background-color: #F7C35F;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.peaewevil-num button:hover {
  background-color: #E0AC50;
}
